<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <div class="rating-box">
        <img src="../images/icon-star.svg" alt="">
        <img src="../images/icon-star.svg" alt="">
        <img src="../images/icon-star.svg" alt="">
        <img src="../images/icon-star.svg" alt="">
        <img src="../images/icon-star.svg" alt="">
<p>Rated 5 Stars in Reviews</p>
    </div>
</body>
</html>